.checkbox-group {
  display: flex;
  flex-direction: column;

  .checkbox-group__title {
    font-size: 19px;
    font-weight: bold;
    margin-bottom: 14px;
  }

  .checkbox-group-content {
    display: flex;
    flex-direction: column;

    .checkbox-button {
      margin-bottom: 12px;
    }
  }
}
